.home-image {
	height: 60vh;
}

.caption {
	background: rgba(37, 36, 34, 0.694);
	max-width: 600px;
	margin: 0 auto;
}

.caption:hover {
	background: rgba(37, 36, 34, 0.797);
}

.caption-text {
	color: #fffcf2;
}
.container-carousel {
		display: flex;
		justify-content: center;
		align-items: center;
	}

@media (min-width: 450px) {
	.home-image {
		width: 100vw;
		height: 100%;
		display: block;
	}
}
