header {
	background: #252422;
	color: #fffcf2;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 1.5rem;
	max-width: 1000px;
	margin: 0 auto;
}
.title {
	font-size: 1.5em;
	text-decoration: none;
	color: #fffcf2;
	font-family: 'Poller One', cursive;
}
.nav-link {
	margin-top: 1rem;
	font-size: 1em;
	color: #fffcf2;
	text-decoration: none;
}
.nav-link:hover {
	background: rgb(96, 96, 96);
	transition-duration: 0.5s;
}
