/* 
floral white - #fffcf2
pale silver - #ccc5b9
black olive - #403d39
eerie black - #252422
flame - #eb5e28
*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.App {
    background: #fffcf2;
    font-family: 'Open Sans', sans-serif;
}

.page-title {
    border-bottom: solid 1px;
    padding-bottom: 1rem;
}

.dropdown {
    /* border: solid red; */
    padding: 1rem;
}